.App {
  text-align: center;
  background-color: #e5e8e8;
  color: black;
}

body{
  background-color: #e5e8e8;
}

@media only screen and (max-width:600px) {
  .App{
    color: darkorange;
  }
}

@media only screen and (max-width:1200px) {
  body{
    background-color: grey;
  }
}